.container, .wrapper {
	display: flex;
	flex-flow: column nowrap;
}

.container {
	width: 800px;
	margin: auto;
}

.row {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.column {
	display: flex;
	flex-flow: column nowrap;
}

button {
  	text-transform: uppercase;
	font-weight: bold;
	background-color: transparent;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	margin: 5px 0 5px 0;
	color: #000357;
}

h1 {
	font-weight: bold;
	color: #000357;
}

nav a {
	text-decoration: none;
	padding: 10px;
	color: #e6e6e6;
	font-weight: bold;
}

nav a:hover {
	border-bottom: 1px solid #000357;
	color: #000357;
}

nav {
	border-bottom: 1px solid #e6e6e6;
	text-transform: uppercase;
	padding: 10px;
	margin-bottom: 20px;
}

.active {
	border-bottom: 1px solid #000357;
	color: #000357;
}

input[type=text]::placeholder {
	color: #62bafc;
	font-weight: bold;
	opacity: 1; /* Firefox */
}

input[type=text]::-webkit-input-placeholder { /* Edge 12-18 */
	color: #62bafc;
	font-weight: bold;
}

input[type=text] {
	padding: 20px;
	width: 80%;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	height: 90%;
}

.space-between {
	justify-content: space-between;
}

.button-primary {
	padding: 20px;
}

#bilet-okresowy-btn {
	width: 26%;
	margin-left: auto;
	color: #62bafc;
	border: none;
	margin-right: 0;
}

#bilet-okresowy-btn i {
	color: #ff8400;
}

#filter-btn {
	padding-right: 40px;
}

.button-secondary {
	border: none;
	background-color: transparent;
	text-decoration: underline;
}

.section {
	border: 1px solid #e6e6e6;
	padding: 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.orange {
	color: #ff8400 !important;
}

.fixed-width {
	width: 285px;
}

.italic {
	font-style: italic;
}

.text-lightblue {
	color: #62bafc;
	padding: 5px;
}

.text-darkblue {
	color: #000357;
	padding: 5px;
}

.text {
	padding: 5px;
}

.bolded {
	font-weight: bold;
}

.auto-margin {
	margin-left: auto;
}

.margin-right {
	margin-right: 50px;
}

.search-icon {
	position: absolute;
	margin-left: 644px;
	font-size: 28px !important;
}

.filter-icon {
	position: absolute;
	margin-left: 764px;
	font-size: 28px !important;
}

.material-icons {
	font-size: 12px;
	color: #000357;
	vertical-align: middle;
}

.arrow {
	font-size: 28px;
	color: #ff8400;
}

.icon-button {
	width: 24px;
	height: 24px;
	margin-left: 2px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.google-icon {
	background: transparent url('../public/g_icon.png') no-repeat top;
	background-size: 24px;
}

/* * {border: 1px solid black;} */